{% extends 'base-login.html.twig' %}

{% block title %}Connection!{% endblock %}

{% block body %}


  

      <div class="container-fluid mx-auto  py-2 px-5">



<div class="row">
    <div class="col-0 col-md-8 mb-3">
        <img src="back-office/img/logob.png" class="size-logo mt-0" alt="">
    </div>
    <div class="mt-3 col-8 col-md-3">
    
     <p style="margin-top:13px;color:#f36100;" class=" float-right mr-5 align-middle" >Vous n'avez pas de compte ?</p>
    </div>
    <div class=" mt-3 col-4 col-md-1">
        <a style="background-color: #f36100; color:white;" class="float-right btn nav-link mx-2 my-1 btn-signin" href="/register">
        <div  class="text-white ">S'enregistrer</div></a>
    </div>
</div>


<div class="row mt-5">

    <div class="col-0 col-md-4">

    </div>

    <div class="col-12 col-md-4">
        <div style="border:none;" class="card shadow">
    
    <div class="card-body">
        <div class="card-title">
            <h1 class=" blue mb-5 mt-4 text-center card-title" style="color:black">Se connecter</h1>
        </div>
    <form method="post">
     {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <div class="mx-4">
        <div class="form__div mt-2 mb-2">
            <label  style="color:black;" for="" class="blue">Adresse E-mail</label>
            <input type="email" value="{{ last_username }}" name="email" id="inputEmail"  placeholder="Email" required autofocus class="form-control">
        </div>
        <div class="form__div mb-3">
            <label  style="color:black;" for="" class="blue">Mot de passe</label>
            <input  type="password" name="password" id="inputPassword" class="form-control" required placeholder="Password" class="form-control" >
        </div>


        <div >
        <input   type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}"  
           style="background-color: #f36100; color:white;"
             class="width-sub py-2 mt-4 btn btn-blue mb-5" 
           >
         
         <button style="background-color: #f36100; color:white;"
             class="width-sub py-2 mt-4 btn btn-blue mb-5"  type="submit">
        Se connecter
    </button>
        </div>
    </div>




    </form>
    </div>
        </div>

    </div>

    <div class="col-0 col-md-4">

    </div>


</div>









<!--=======================1=============================-->


      </div>
{% endblock %}
