<!DOCTYPE html>

<title>Edit Avis</title>

{% block body %}
    <h1>Edit Avis</h1>

    {{ include('avis/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_avis_index') }}">back to list</a>

    {{ include('avis/_delete_form.html.twig') }}
{% endblock %}
