{% extends 'baseBackOffice.html.twig' %}
{% block backContainer %}
<link rel="stylesheet" href="{{ asset('dist/css/film/filmAdmin.css') }}">
<section class="content">
<div class="container ">
<h1>l'image du film est: </h1>
<img src="{{ asset ('image/' ~ details.image ) }}" width='600' height="450">
</div>
</section>

{% endblock %}