{% extends 'baseBackOffice.html.twig' %}
{% block backContainer %}
<link rel="stylesheet" href="{{ asset('dist/css/film/filmAdmin.css') }}">
<section class="content">
<div class="container ">
<h1>Modifier Film </h1>
{{ form(form) }}

    </section>
{% endblock %}