{% extends 'base-back.html.twig' %}

{% block title %}Hello ClientController!{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Hello {{ controller_name }}! ✅</h1>

    This friendly message is coming from:
    <ul>
        <li>Your controller at <code><a href="{{ 'C:/Users/Asus/Downloads/adomifit (1)/adomifit/src/Controller/ClientController.php'|file_link(0) }}">src/Controller/ClientController.php</a></code></li>
        <li>Your template at <code><a href="{{ 'C:/Users/Asus/Downloads/adomifit (1)/adomifit/templates/client/index.html.twig'|file_link(0) }}">templates/client/index.html.twig</a></code></li>
    </ul>
</div>
{% endblock %}
