{% extends 'baseBackOffice.html.twig'%}
    {% block backContainer %}
        

        <header> 
            
      
    <h1>Liste des demandes de sponsoring : </h1> 
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    <p></p>
    </header>
    <section>
<table border="2" align="center" hspace="10" vspace="6">
    <thead>
    <tr>
    <th>ID de la demande</th>
    <th>Sponsor user name</th>
    <th>Etat d'acceptation</th>
    <th>Description</th>
    <th>Paquet</th>
    
    
    </tr>  
    </thead>
   
  </table>
    </section>
    
{% endblock %} 