



{% block body %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <!-- ===== BOX ICONS ===== -->
        <link href='https://cdn.jsdelivr.net/npm/boxicons@2.0.5/css/boxicons.min.css' rel='stylesheet'>
       <!--CSS -->
        <link rel="stylesheet" href="assets/css/myboot.css">
        <link rel="stylesheet" href="assets/css/logincss.css">
       <!--BOOTSTRAP-->
          <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


          <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
          <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
          <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>


        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Bloque</title>
    </head>
<style>
            body {
              background-color: url('{{ asset('front-office/img/hero/hero-2.jpg') }}');
              background-repeat: no-repeat;
              background-attachment: fixed;
              background-size: cover;
            }
        </style>



    <body style="background-color: Black" class=" ">

<div class=" row">
    <div class="col-0 col-md-8">
        <img src="back-office/img/logob.png" class="size-logo mt-0" alt="">
    </div>
    <div class="mt-3 col-8 col-md-3">

    
    </div>
    <div class=" mt-3 col-4 col-md-1">
        <a   style="background-color: #f36100; color:white;"class="float-right btn nav-link mx-2 my-1 btn-signin" href="/logout"><div class="text-white">Logout</div></a>
    </div>
</div>





       <!--==============Container==================--> 

      <div class="container-fluid mx-auto  py-2 px-5">






  <div class="row mt-5 pt-5">

    <div class="col-0 col-md-3">

    </div>

    <div class="col-12 col-md-6 mt-5 pt-5">
        <div style="border:none;" class=" ">
    


           <h1  style="margin-top:13px;color:#f36100;" class=" blue mb-5 mt-5 text-center card-title"> Votre compte est bloque  ! </h1>

            <h1 style="margin-top:13px;color:#f36100;"  class=" blue mb-5 mt-4 text-center card-title"> Pour plus d'informations contactez nous sur Adomifit.support@adomifit.com </h1> 


        </div>

    </div>

    <div class="col-0 col-md-3">

    </div>


</div> 








<!--=======================1=============================-->


      </div>
       
<!--===== MAIN JS =====-->
        <script src="assets/js/main.js"></script>
        

        </body>
        </html>
  
</div>
{% endblock %}
