<!DOCTYPE html>

<title>New Demandedesponsoring</title>

{% block body %}
    <h1>Create new Demandedesponsoring</h1>

    {{ include('demandedesponsoring_controller_copy/_form.html.twig') }}

    <a href="{{ path('app_demandedesponsoring_controller_copy_index') }}">back to list</a>
{% endblock %}
