<h1> Sending messages to you</h1>
<form action = "{{ path ('sending')}}" method ="POST">
    <table>
        <tr>
            <td> <input  type="text" name = "mobile"/> </td>
            <td> <input  type="text" name = "message"/> </td>
            
        </tr>
        <tr><input type="submit" value="send" /></tr>
    </table>
</form>