<form method="post" action="{{ path('app_compte_delete', {'username': compte.username}) }}" onsubmit="return confirm('Vous-vous vraiment supprimer ce compte?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ compte.username) }}">
    <button class="btn">Supprimer</button>
</form>
