{% extends 'baseFrontOffice.html.twig' %}



{% block frontContainer %}
    <center><h1>Modifier votre compte</h1></center>

    {{ include('compte/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_compte_index') }}"><button type="button" class="btn btn-primary mb-2">Retourner</button></a>

   
{% endblock %}

