

{% extends 'baseBackOffice.html.twig' %}
{% block backContainer %}

<section class="content">
        <div class="container-fluid">
            <div class="row">
                <div  class="form-control" style="height: 45rem; margin-top: 5rem;">
                    
                        <div class="card-body">

    <center><h1>Modifier le compte</h1></center>
    <center><h5>Identifiant : {{ compte.username }} </h5></center>

    {{ include('compte/_form.html.twig', {'button_label': 'Update'}) }}
    <center><a href="{{ path('app_compte_index') }}"><button type="button" class="btn btn-dark mb-2">Annuler</button></a></center>
    {{ include('compte/_delete_form.html.twig', {'button_label': 'Supprimer'}) }}
    
    <div class="card-footer">
                                
                            </div>
                        </div>
                   
                </div>
            </div>
        </div>

    </section>
{% endblock %}
