

{% extends 'login.html.twig' %}


{% block frontContainer %}
<center><p><strong><font  size="30" color="red">Bienvenue au JCC</font><strong></p></center>
 <section class="content">
        <div class="container-fluid">
            <div class="row">
                <div  class="form-control" style="height: 45rem; margin-top: 5rem;">
    <center><h1>Créer un nouveau compte</h1></center>

    {{ include('compte/_form.html.twig') }}

    <a href="{{ path('app_compte_index') }}">Retourner</a>
     </div>
                        </div>
                   
                </div>
            </div>
        

    </section>
{% endblock %}
