<h3 class="font-italic">Bonjour Madame/Mr</h3> </br>

<p class="Light weight text.">votre demande de livraison a été effectué avec succées nous vous envoyorons votre collier 
dans les délais prévus</p> </br>
<p class="font-weight-bold"><span class="font-weight-bold">NB:</span> les frais de livraison sont de 7DT.</p>